<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <RollingFile name="RollingFile" fileName="${LOG_PATH}" filePattern="${LOG_PATH}-%d{MM-dd-yyyy}.log.gz"
                 ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <TimeBasedTriggeringPolicy />
    </RollingFile>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>${SMTP_HOST}</smtpHost>
        <smtpPort>587</smtpPort>
        <smtpProtocol>smtp</smtpProtocol>
        <to>${LOG_RECEIVER_EMAIL_USERNAME}</to>
        <from>${LOG_SENDER_EMAIL_USERNAME}</from>
        <subject>ERROR: %logger{20} - %m</subject>
        <username>${LOG_SENDER_EMAIL_USERNAME}</username>
        <password>${LOG_SENDER_EMAIL_PASSWORD}</password>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </layout>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>512</bufferSize>
        </cyclicBufferTracker>
    </appender>


    <logger name="org.springframework" level="info"/>
    <logger name="kr.or.connect" level="debug"/>

    <root level="debug">
        <appender-ref ref="EMAIL"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>